/*
Theme Name: Webico Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/
/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.Font
	2.Intro Homepage
	3.Home page
	4.Footer
	5.Sidebar
	6.Archive
	7.Single - Pages


======================================
[ END CSS TABLE CONTENT ]
======================================
*/
/*============ Font ============ */
body{
	font-family:  "Lato",  sans-serif ;
	font-size: 14px ;
}
.nav > li > a {
	font-family:  "Lato", sans-serif;
	font-size: 15px;
}
h1,h2,h3,h4,h5,h6, .heading-font{
	font-family: "Lato", sans-serif ;
}
.alt-font{
	font-family: "Lato", sans-serif;
}

/*============ Intro Home page ============ */
.intro {
	position: relative
}
.intro .top-intro {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
}
h2.intro-title {
	font-size: 32px;
	color: #fff;
	font-weight: 300;
	border-left: 3px solid #29b033;
    padding-left: 34px;
    line-height: 1;
}
h2.intro-title strong {
	font-weight: 700;
	font-size: 75px;

}
.intro-desc {
	font-size: 18px;
	color: #fff;
	font-weight: 300;
}

.intro-customized {
	background: #29b033;
    color: #fff;
    padding: 0px 27px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    float: right;
    margin: 0 4px;
    line-height: 40px;
}
.intro-customized.quote {
	padding: 0px 27px;
	padding-left: 50px;
}

.intro-customized:hover {
	color: #fff
}
.intro-customized i {
	 margin-top: 6px;
	font-size: 21px;
	padding-right: 10px;
	line-height: 20px
}
.icons-tags {
    background: url(images/tags.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
		position: absolute;
		left: 15px
}

.intro-form {
    position: absolute;
    bottom: 0;
    z-index: 999;
		background: rgba(0, 0, 0, 0.74);
    padding: 10px 0;
}

.intro-form .col {
	padding-bottom: 5px;
}
.intro-form-title {
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 12px;
	text-transform: uppercase;
}
.intro-form select {
	background-color: #eeeada;
    padding: 5px 15px;
    height: 44px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.intro-form-button {
    background-color: #29b033;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
    width: 100%;
    font-weight: 400;
    padding: 3px 15px;
}


.header-main .nav > li > a {
    line-height: 16px;
    font-weight: 400!important;
    color: #2a2a2a;
}
.header-main .quote {
    display: block;
    background: #29b033;
    padding: 31px 28px;
    text-align: center;
    color: #fff!important;
    line-height: 1.1!important;
}
.header-main .quote i {
	left: 0;
    right: 0;
    top: 16px;
}
.nav-line-bottom>li>a:before, .nav-line-grow>li>a:before, .nav-line>li>a:before {
	height: 5px;
}

.header-main .nav > li > a:hover,.header-main .nav > li:hover > a,.header-main .nav > li.current-menu-item > a   {
	color: #29b033
}

.banner {
	background-color: transparent!important
}


.button, button, input[type='submit'], input[type='reset'], input[type='button']{
	letter-spacing: 0;
}
.header .flex-row {
	 position: relative;
}
.header-nav-main,.wp-megamenu-wrap,.wp-megamenu-wrap .wpmm-nav-wrap > ul {
	position: inherit;
}
.wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li.wpmm_mega_menu>.wpmm-strees-row-container>ul.wp-megamenu-sub-menu,
.wp-megamenu-wrap .wpmm-nav-wrap > ul > li.wpmm-strees-row .wpmm-strees-row-container > .wp-megamenu-sub-menu:before,
.wp-megamenu-wrap .wpmm-nav-wrap > ul > li.wpmm-strees-row .wpmm-strees-row-container > .wp-megamenu-sub-menu:after {
	background: url(http://asietravel.wbc.vn/wp-content/uploads/2018/02/Layer-281.png);
}
#wp-megamenu-primary>.wpmm-nav-wrap ul.wp-megamenu li.wpmm-type-widget {
	color: #fff;
}
#wp-megamenu-primary>.wpmm-nav-wrap ul.wp-megamenu>li>a {
    border-bottom: 5px solid transparent;
}
#wp-megamenu-primary>.wpmm-nav-wrap ul.wp-megamenu>li>a:hover {
	border-color: #29b033
}
.mega-menu-title {
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px!important
}
.mega-menu-desc {
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px!important
}
.mega-menu-col {
    padding: 20px 0!important;
}

#wp-megamenu-primary>.wpmm-nav-wrap ul.wp-megamenu>li ul.wp-megamenu-sub-menu li a.mega-menu-button {
	background-color: #29b033;
	display: block;
	width: 100%;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 8px 15px;
	text-align: center;
}
.mega-menu-col h3 {
	color: #d6bd9c;
	font-size: 16px;
	text-transform: uppercase;
}
.mega-menu-col h4 {
	color: #d6bd9c;
	font-size: 16px;
}
.mega-menu-col ul li {
	margin-left: 0
}
.mega-menu-col ul li a {
	color: #fff!important;
    text-transform: none!important;
}
.mega-menu-col p {
	font-size: 16px;
	    min-height: 44px;
}
.icon-flag-vn {
    background: url(images/vn.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    position: absolute;
        left: -3px;
    top: 11px;
}
.icon-flag-lao {
    background: url(images/lao.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    position: absolute;
        left: -3px;
    top: 11px;
}
.icon-flag-cam {
    background: url(images/cam.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    position: absolute;
        left: -3px;
    top: 11px;
}
.icon-flag-my {
    background: url(images/my.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    position: absolute;
        left: -3px;
    top: 11px;
}
.icon-travel-ideas {
	background: url(images/icon1.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    position: absolute;
        left: 0px;
    top: 7px;
}
.icon-exclusive {
	background: url(images/icon2.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    position: absolute;
        left: 0px;
    top: 7px;
}
.icon-sites {
	background: url(images/icon3.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    position: absolute;
        left: 0px;
    top: 7px;
}
.icon-practical {
	background: url(images/icon4.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    position: absolute;
        left: 0px;
    top: 7px;
}
.icon-cultural {
	background: url(images/icon5.png) no-repeat;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    position: absolute;
        left: 0px;
    top: 7px;
}
.mega-menu-icon1 {

}


/*============ Home page ============ */

h2.home-title {
	color: #000000;
	font-size: 44px;
	font-weight: 400!important;
}

.home-desc {
	color: #000;
	font-size: 19px;
	font-weight: 400
}

.custom-divider {
	background-color: #29b033;
}

.custom-divider {
	height: 4px;
	max-width: 60px;
}


.destinations-title span {
    border: 1px solid #fff;
    padding: 6px 19px;
}
.who-are-we h3 {
	color: #f0f0f1;
	font-size: 44px;
	text-transform: uppercase;
}
.who-are-we  p {
	color: #ffffff;
	font-size: 19px;
}
.trusted-title {
	color: #000000;
	font-size: 44px;
	font-weight: 400!important;
}
.trusted-divider {
	width: 50px;
    height: 4px;
    background-color: #29b033;
    display: inline-block;
    margin-left: 15px;
}
.testimonial-text {
    background: url(images/bg-test.png) no-repeat;
    color: #000000;
    font-size: 19px;
    font-style: normal!important;
    padding: 19px 13px 18px 23px;
    background-size: cover;
    min-height: 154px;
}
.testimonial-meta {
	margin-top: 10px;
}
.testimonial-name,.testimonial-date {
	color: #000000;
	font-size: 16px;
}
.testimonial-company, .testimonial-name-divider {
	color: #29b033;
	font-size: 16px;
}
.testimonial-date {
	float: right;
}
.trusted .flickity-page-dots {
	    top: -20px;
    left: 100%;
}
.trusted .slider-nav-light .flickity-page-dots .dot.is-selected {
    background-color: #29b033;
    border-color: #29b033;
}
.home-video .video-fit {
	margin-bottom: 0
}
.home-video h3 {
	color: #000000;
	font-size: 26px;
	    line-height: 1.2;

}
.home-video  p {
	color: #000000;
	font-size: 19px;
}
.home-video a.button {
	    font-size: 22px;
    font-weight: 400;
    padding: 5px 52px;
}
.home-blog .post-meta {
	color: #29b033;
	font-size: 13px;
	opacity: 1;
}
.home-blog .post-title {
	color: #000000;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	min-height: 108px;
	padding-bottom: 15px;
}
.home-blog button {
    background-color: #29b033!important;
    font-size: 17px!important;
    color: #fff;
    font-weight: 400!important;
    text-transform: none;
    margin: 0 auto;
    text-align: center;

}
.home-blog .flickity-prev-next-button{display: none;}
.slider-nav-outside .flickity-page-dots{
	right: 20px;    text-align: right;
}
.slider-nav-light .flickity-page-dots .dot.is-selected{
	background-color: #2ab033;border: 1px solid #2ab033;
}
.slider-nav-light .flickity-page-dots .dot{
width: 15px; height: 15px;
background: transparent;
border: 1px solid #333;
opacity: 1;
}
.flickity-prev-next-button{
	width: 70px;
}
.header.has-sticky .stuck .flex-left .header-nav-main .wp-megamenu-wrap .wp-megamenu .menu-item a{line-height: 35px !important;}
.header.has-sticky .stuck .flex-right .header-nav .html_topbar_left .quote{    padding: 11px 28px;}
.header.has-sticky .stuck .flex-right .header-nav .html_topbar_left .quote .icons-tags{    top: 0px;}

.home-bugge .medium-2, .home-bugge .large-2{width: 20%;max-width:20%;flex-basis:20%;}
.home-bugge .featured-box .icon-box-text h3{font-size: 34px; font-weight: bold;margin: 0;color:#000}
.home-bugge .featured-box .icon-box-text h5{font-size: 18px; font-weight: bold;margin-bottom: 5px;color:#000}
.home-bugge .featured-box .icon-box-text p{min-height:24px;display: block;font-size: 15px; color:#000}
.footer-widgets.footer-2  .block_widget *{
	color: #000;font-size: 15px;
}

.footer-widgets .block_widget p{color: #000;font-size: 15px; margin-bottom: 7px;}
.footer-widgets .block_widget .featured-box .icon-box-text h5{
	line-height: 34px;
	font-size: 18px;
	color: #000;font-weight: normal;
}
.advisor .col-inner .button{margin-bottom: 0; color: #fff}
.footer-widgets .block_widget .advisor .col-inner span{color: #fff}

.advisor .col-inner{
	    border: 1px solid #2ab033;padding-top: 15px;
}

.row{
	.col{
		// padding-bottom: 0;
	}
}



// Tran Binh
#wrapper, #main,
body{
	background-image: url(images/bg.gif);
	background-repeat: repeat;
}
#footer{
  .footer{
		&.footer-1{background-size: cover;}
    &.footer-2{
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.wpcf7-form{
	.form{
		display: flex;
		flex-basis: 100%;
		align-items: center;
		justify-content: center;
		&.newsletter{
			span{
				min-width: 550px;
			}
		}
	}
}
#featureds{
	position: relative;
	.intro-form{
		button,
		select{
			margin-bottom: 0
		}
	}
}
#text-box-featured {
	width: 60%;
}
#text-box-featured .text {
	font-size: 100%;
}
#banner-featured {
padding-top: 375px;
}

#banner-featured .overlay {
background-color: rgba(0,0,0,.4);
}

#breadcrumbs{
	padding-top: 20px;
	a{
		font-size: 16px;
		color: #000;
	}
}
#parent-page{
	ul.list-page{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin-bottom: 0;
		padding: 10px 0;
			background-image: url(images/parent.png);
			background-repeat: no-repeat;
			background-size: cover;
			align-items: center;
			justify-content: center;
		li{
			padding: 0 10px;
			border-right: 1px solid #000;
			margin-bottom: 0;
			a{
				font-size: 17px;
				font-weight: bold;
				color: #000;
				text-transform: uppercase;
			}
			&:last-child{
				border-right: 0;
			}
			&.current_page_item{
				a{
					color: #29b033;
				}
			}
		}
	}
}

.itineraries-item{
	.col-inner + .col-inner{
		margin-top: 30px;
	}
	.box-overlay{
		.box-text{
			.box-text-inner{
				.post-title{
					border-bottom: 3px solid #fff;
					display: initial;
					text-align: center;
				}
			}
		}
	}
}
.row-large{
	.itineraries-item{
		.col-inner + .col-inner{
			margin-top: 60px;
		}
	}
}
.row-small{
	.itineraries-item{
		.col-inner + .col-inner{
			margin-top: 19.6px;
		}
	}
}
.row-xsmall{
	.itineraries-item{
		.col-inner + .col-inner{
			margin-top: 3px;
		}
	}
}
.row-collapse{
	.itineraries-item{
		.col-inner + .col-inner{
			margin-top: 0;
		}
	}
}

.slider-nav-bottomcenter .flickity-prev-next-button.next {
	left: 50%;
	right: auto;
	bottom: 0;
	top: 100%;
	opacity: 1;
	background: #8d8d8d;color: #fff;
	width: 35px;
	height: 30px;
	margin-left: 10px;
}
.slider-nav-bottomcenter .flickity-prev-next-button.previous {
	right: 50%;
	left: auto;
	bottom: 0;
	top: 100%;
	opacity: 1;
	background: #8d8d8d;
	color: #fff;
	width: 35px;
	height: 30px;
	margin-right: 10px;
}

.slider-nav-bottomcenter.slider .flickity-prev-next-button:hover svg, .slider.slider-nav-bottomcenter .flickity-prev-next-button:hover .arrow{
	fill:#ffffff
}

.slider-nav-bottomcenter .flickity-prev-next-button:hover{
	background: #29b033;
}

.select2-container--default{
	 .select2-selection--multiple{
		 background-color: #c7c0b6;
		 border: 0 !important;
		 background-image: url(images/icon-search.png);
		 background-size: auto;
    background-position: 98%;
		 .select2-selection__rendered{
			 li{
				 background: transparent;
			    border: none;
			    padding: 0;
			    margin: 0;
			 }
		 }
	 }
	 .select2-dropdown{
		 background-color: #c7c0b6;color:#fff;
	 }
	 .select2-results__option--highlighted[aria-selected]{
		 background-color: #29b033;
	 }
}


@media (max-width:640px){
  .home-bugge{
     .medium-2{
       width: 50%;max-width:50%;flex-basis:50%;
     }
     .large-2{
       width: 50%;max-width:50%;flex-basis:50%;
     }
     .featured-box {
       .icon-box-text{
          p{
            min-height: 48px;
          }
       }
     }
  }
}
